/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#my-body {
  background: #EEE8EE;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: #495057;
  padding: 0 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* header */
header {
  background-color: #3D323D;
  border-radius: 5px;
  margin: 4px -12px;
  padding: 20px 0;
  height: auto;
}

header h1 {
  color: #fff;
  font-family: "Gravitas One", serif;
}

/* footer */
footer {
  color: #B3ACB3;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* home page tab view */
.tab-view {
  margin-top: 7%;
  width: 100%;
}

.tab {
  color: #3D323D;
  font-size: large;
  font-weight: 700;
}

.tab:hover {
  color: #806E80;
}

.log-in .tab-content {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

/* register and login forms */
.form {
  padding: 40px 0;
}

.form form {
  margin: 0 auto;
  max-width: 320px;
}

.form .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

/* register and login form button */
.form .btn-primary, .form .btn-primary:disabled, .form .btn-primary:focus, .form .btn-primary:active,
.form .btn-primary:hover, .form .btn-primary:hover:active:focus, .form .btn-primary:hover:active, .form .btn-primary:hover:focus {
  border-color: #3D323D !important;
  background-color: #3D323D !important;
  box-shadow: none !important;
}

/* main tab */
.main-tab {
  margin: 0;
}

.main-div-mobile .profile-div, .main-div-mobile .posts-div, .main-div-mobile .friends-div {
  margin: 0;
}

/* create profile */
.create-profile-div {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 7%;
  padding: 10px;
}

.create-profile-div .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

/* avatar */
.avatar-img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  margin: -10px auto 1rem;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
}

/* user profile div */
.profile-div {
  margin: 5% -10px;
  background-color: #fff;
  border-radius: 5px;
  height: auto;
  padding: 20px;
  text-align: center;
}

.username {
  text-align: center;
}

.profile-div h3 {
  color: #3D323D;
  font-weight: 700;
}

.description {
  text-align: center;
}

.profile-div .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.friend-req-btn {
  border-color: #3D323D !important;
  background-color: #3D323D !important;
  box-shadow: none !important;
  margin: 0 auto;
}

.friend-btn {
  border-color: #6E5D6E !important;
  background-color: #6E5D6E !important;
  box-shadow: none !important;
  margin: 0 auto;
}

.message-btn {
  border-color: #3D323D !important;
  background-color: transparent !important;
  color: #3D323D !important;
  box-shadow: none !important;
  margin: 15px auto 0;
  font-size: small !important;
  font-weight: 500 !important;
}

/* posts div */
.posts-div {
  margin: 2.5% -10px;
  background-color: transparent;
  border-radius: 5px;
}

/* create post form */
.post-form {
  margin: 0 20px;
  height: auto;
  position: relative;
}

.post-form .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.emoji-menu {
  position: absolute;
  z-index: 10;
}

.dropdown-emoji {
  width: 110px;
  height: 110px;
  border: 1px solid #ddd !important;
  background-color: #fff !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
  font-size: 35px !important;
  padding: 5px 0 0;
  line-height: 110px;
  color: #ddd !important;
  position: relative;
  right: 0;
  bottom: 0;
}

.post-form .container-fluid, .post-form .col, .post-form .col-auto {
  padding: 0;
  height: auto;
}

.post-form .row {
  height: auto;
}

.post-form .post-textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
}

.post-form .MuiFab-root, .post-form .MuiFab-root:hover {
  border-radius: 5px;
  position: absolute;
  right: -5px;
  bottom: 10px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  width: 70px;
  height: 30px;
  border-color: #3D323D;
  background-color: #3D323D;
  color: #fff;
  text-transform: none;
  font-size: medium;
}

/* post */

.post {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 5%;
  position: relative;
}

.post-emoji {
  width: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-date {
  text-align: right;
  width: 100%;
  height: auto;
}

.post-date p {
  width: 100%;
  color: #B3ACB3;
  font-size: small;
  margin: 0;
}

.post .MuiFab-root, .post .MuiFab-root:hover {
  border-radius: 5px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 45px;
  height: 0px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  border-color: #6E5D6E;
  background-color: #6E5D6E;
  color: #fff;
}

/* friends div */

.friends-div {
  margin: 5% -10px;
  background-color: #fff;
  border-radius: 5px;
  min-height: 200px;
  height: auto;
  padding: 20px;
}

.friends-title h3{
  display: inline-block;
}

.friends-title .message-btn {
  display: inline-block;
  float: right;
  margin: 0;
}
/* search bar */

.search-bar {
  margin: 0 10px;
  position: relative;
}

.search-bar .search-icon {
  border: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}

.search-bar .search-textarea {

  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
}

.search-bar .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.search-bar .search-col {
  padding: 0;
}

.search-bar .search-results-col {
  padding: 0;
}

.results {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 10;
  padding: 0 15px;
}

/* user inline */
.user-inline {
  line-height: 40px;
}

.user-inline .col, .user-inline .col-auto {
  padding: 5px;
}

.avatar-user-inline {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
}

.name-user-inline {
  margin: 0;
  font-size: medium;
  font-weight: 500;
  color: #3D323D;
}

/* friends list */
.friends-list {
  padding: 5px 15px;
}

.friends-div h3 {
  color: #3D323D;
  font-weight: 500;
  margin: 0;
}

.friends-div hr {
  margin: 0 -5px;
}

/* chat */
.chat-div {
  margin: 2.5% -10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.chat-div hr {
  margin: 0 -10px;
}

/* message form */
.message-form {
  padding: 20px 40px;
}

.message-form .col, .message-form .col-auto {
  padding: 0;
}

.send-btn {
  border-color: #3D323D !important;
  background-color: #3D323D !important;
  box-shadow: none !important;
  height: 62px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 5px;
}

.message-form .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.message-form .message-textarea {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}

/* messages */

.messages {
  overflow-y:auto;
  height: 50vh;
}

/* message */

.message {
  background-color: #EEE8EE;
  border-radius: 5px;
  margin: 10px 5%;
  max-width: 60%;
  padding: 1% 3%;
}

.message-friend {
  background-color: #3D323D;
  color: #fff;
}

.right-allign {
  margin-left: auto;
}

.message-date {
  width: 100%;
  color: #B3ACB3;
  font-size: small;
  margin: 0;
  text-align: right;
}

/* conversations */

.messages-div {
  margin: 2.5% -10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2% 5%;
}

.messages-div h3 {
  color: #3D323D;
  font-weight: 500;
  margin: 0;
}

.messages-div hr {
  margin: 0 -3%;
}

/* conversation */

.conversation {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1% 5%;
  line-height: 1;
  margin: 1% 5%;
  background-color: #EEE8EE;
}

.conversation-user {
  width: fit-content;
}

.conversation-date {
  font-size: small;
  margin-left: 40px;
}
